# L3_C2_S2_Challenge

# Task 1

In [33]:
import re #regular expression
import spacy #spacy library
nlp = spacy.load('en_core_web_sm') #pipline for english language words
import pandas as pd #for data analysis
import numpy as np #for numerical calculation

In [2]:
text = pd.read_csv('DS3_C2_S2_TravelReview_Data_Challenge.csv') #reading text data
text

,id,title,content,tags
0,1,caribbean cruises october,fianc e looking good caribbean cruise october ...,"['caribbean', 'cruising', 'vacations']"
1,2,find guide take safely amazon jungle,one definition questions also one interests pe...,"['guides', 'extreme-tourism', 'amazon-river', ..."
2,4,singapore airlines offer reward seats ewr sin ...,singapore airlines business class flight ewr s...,"['loyalty-programs', 'routes', 'ewr', 'singapo..."
3,5,easiest transportation use throughout romania ...,another definition question interested easiest...,"['romania', 'transportation']"
4,6,visit antarctica,year ago reading magazine found availability g...,"['extreme-tourism', 'antarctica']"
...,...,...,...,...
19274,78013,tipping usa california sf,waiter time know one deserve tipping however s...,"['usa', 'food-and-drink', 'california', 'tippi..."
19275,78016,canadian appropriate gifts bring travelling eu...,live vancouver canada travelling london paris ...,"['uk', 'canada', 'france', 'culture', 'gifts']"
19276,78018,macedonian police issue visitors registration ...,serbia macedonia register police staying count...,"['customs-and-immigration', 'officials', 'regi..."
19277,78019,austrian visa renewed,austria visa multiple entry expires next month...,"['visas', 'austria']"
19278,78022,shortest wide body route frankfurt,shortest passenger route served wide body airc...,['untagged']

In [3]:
text.head() #first 5 rows

,id,title,content,tags
0,1,caribbean cruises october,fianc e looking good caribbean cruise october ...,"['caribbean', 'cruising', 'vacations']"
1,2,find guide take safely amazon jungle,one definition questions also one interests pe...,"['guides', 'extreme-tourism', 'amazon-river', ..."
2,4,singapore airlines offer reward seats ewr sin ...,singapore airlines business class flight ewr s...,"['loyalty-programs', 'routes', 'ewr', 'singapo..."
3,5,easiest transportation use throughout romania ...,another definition question interested easiest...,"['romania', 'transportation']"
4,6,visit antarctica,year ago reading magazine found availability g...,"['extreme-tourism', 'antarctica']"

In [4]:
text.shape #size of the dataframe

(19279, 4)

In [5]:
text.isnull().sum() #checking null value

id         0
title      0
content    0
tags       0
dtype: int64

No null value so can do further analysis

In [6]:
import nltk #importing nltk library
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\prabh\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

# Task 2

In [7]:
from nltk.tokenize import word_tokenize # tokenize using nltk in word wise
from nltk.tokenize import sent_tokenize # tokenize using nltk in sentence wise

In [8]:
# 1) use the nltk library and apply the tokenizatin process on the first review text of the content attribute

sent_tokenize(text['content'][0]) # sentence tokenization

['fianc e looking good caribbean cruise october wondering islands best see cruise line take seems like lot cruises run month due hurricane season looking good options edit travelling 2012']

In [9]:
word_tokenize(text['content'][0]) # word tokenization

['fianc',
 'e',
 'looking',
 'good',
 'caribbean',
 'cruise',
 'october',
 'wondering',
 'islands',
 'best',
 'see',
 'cruise',
 'line',
 'take',
 'seems',
 'like',
 'lot',
 'cruises',
 'run',
 'month',
 'due',
 'hurricane',
 'season',
 'looking',
 'good',
 'options',
 'edit',
 'travelling',
 '2012']

In [10]:
len(word_tokenize(text['content'][0])) #length of the word tokenize

29

2) # 1) use the nltk library and apply the tokenizatin process on the all review text of the content attribute

In [11]:
text['sent_token']=text['content'].apply(lambda x: sent_tokenize(x)) #sentence tokenization

In [12]:
text['content'].apply(lambda x: word_tokenize(x)) #word tokenization

0        [fianc, e, looking, good, caribbean, cruise, o...
1        [one, definition, questions, also, one, intere...
2        [singapore, airlines, business, class, flight,...
3        [another, definition, question, interested, ea...
4        [year, ago, reading, magazine, found, availabi...
                               ...
19274    [waiter, time, know, one, deserve, tipping, ho...
19275    [live, vancouver, canada, travelling, london, ...
19276    [serbia, macedonia, register, police, staying,...
19277    [austria, visa, multiple, entry, expires, next...
19278    [shortest, passenger, route, served, wide, bod...
Name: content, Length: 19279, dtype: object

3) use the spacy library and apply the tokenizaiton process on the first review text of the content attribute

In [13]:
nlp = spacy.load('en_core_web_sm') #pipline for english language words

In [14]:
nlp(text['content'][0]) #first row tokenizatoin

fianc e looking good caribbean cruise october wondering islands best see cruise line take seems like lot cruises run month due hurricane season looking good options edit travelling 2012

In [15]:
len(nlp(text['content'][0])) #length of tokenization

29

4) use the spacy library and apply the tokenizaiton process on the all review text of the content attribute

In [16]:
text['content'].apply(lambda x: nlp(x)) #tokenization using spaCy

0        (fianc, e, looking, good, caribbean, cruise, o...
1        (one, definition, questions, also, one, intere...
2        (singapore, airlines, business, class, flight,...
3        (another, definition, question, interested, ea...
4        (year, ago, reading, magazine, found, availabi...
                               ...
19274    (waiter, time, know, one, deserve, tipping, ho...
19275    (live, vancouver, canada, travelling, london, ...
19276    (serbia, macedonia, register, police, staying,...
19277    (austria, visa, multiple, entry, expires, next...
19278    (shortest, passenger, route, served, wide, bod...
Name: content, Length: 19279, dtype: object

# Task 3

In [17]:
t2=" ".join(text['content']) #joining each row for further analysis
t2[0:1000]

'fianc e looking good caribbean cruise october wondering islands best see cruise line take seems like lot cruises run month due hurricane season looking good options edit travelling 2012 one definition questions also one interests personally find guide take safely amazon jungle love explore amazon would attempt without guide least first time prefer guide going ambush anything p edit want go anywhere touristy start end points open trip take places likely see travellers tourists definitely require good guide order safe singapore airlines business class flight ewr sin newark singapore seem find reward krisflyer flights dates another definition question interested easiest transportation use throughout romania foreigner plan visit point still relatively ignorant get particularly interested rural areas mountains difficulty crossing also ignorant year ago reading magazine found availability get trip antarctica unfortunately info could get know anything best way get best route maybe feedback an'

In [21]:
len(words[0:100000])

100000

In [30]:
# top 10 words with mode repeated count
words = str(t2)
doc = nlp(words[0:100000]) # using word count till 100000 bcs of low computer performance
from collections import Counter
count = Counter()
for token in doc:
    count[token.orth_]+=1
n= count.most_common(10)
n

[('would', 131),
 ('get', 130),
 ('like', 102),
 ('visa', 102),
 ('one', 96),
 ('travel', 95),
 ('trip', 91),
 ('know', 76),
 ('need', 71),
 ('time', 70)]

# Task 4

In [31]:
# word count of "travellers" 
counts = Counter()
for token in doc:
    counts[token.orth_]+=1
print(counts['travellers'])

11

In [32]:
# word count of "tourists"
counts = Counter()
for token in doc:
    counts[token.orth_]+=1
print(counts['tourists'])

11