# SPRINT 4 : LOOPING OVER DATA STRUCTURE-PRACTICE

# Factorial of a Number

Task 1 : Create a program to calculate factorial of given number n.

In [64]:
n=int(input('Enter any number : '))
i=n-1
while i>=1:
    n=n*i
    i-=1    
print('Factorial of a number : ',n)

Enter any number : 5
Factorial of a number :  120

# Prime Numbers

Task 2 : Create program to print all prime numbers upto 20

In [65]:
n=2

while n<=20:
    c=0
    for i in range(2,n):
        if n%i==0:
            c=1
    if c==0:
        print(n,end=' ')
    n=n+1

2 3 5 7 11 13 17 19

# Sum of all Digits

Task 3 : Take input of a number from user. Write a program using while loop to calculate the sum of digits of numbers

In [67]:
n=int(input('Enter any five digit number = '))

x=0

while n>0:
    dig=n%10
    x=x+dig
    n=n//10

print('Sum= ',x)

Enter any five digit number = 12345
Sum=  15

# Fibonacci Series

Task 4 : Using while loop, create program to display Fibonacci series upto 7 values. The first two numbers can be selected as 1 & 2.

In [18]:
# Method 1

a=1
b=2
n=1
print(a,b,end=' ')
while n<=5:
    c=a+b
    print(c,end=' ')
    a=b
    b=c
    n=n+1

1 2 3 5 8 13 21

# Adding two objects

Task 5 : 
    Create two tuples t1 and t2
    Display ID of both tuples
    Execute command t1=t1+t2
    Display ID of both tupples

In [68]:
t1=(11,15,18)
t2=(1,2)
print('ID of t1 : ',id(t1))
print('ID of t2 : ',id(t2))

ID of t1 :  2698702955904
ID of t2 :  2698704352640

In [69]:
t1=t1+t2
print('ID of t1 : ',id(t1))
print('ID of t2 : ',id(t2))

ID of t1 :  2698660841408
ID of t2 :  2698704352640

In [ ]:
## Yes there is change in ID of tuple t1 as new mwmory space is allocated

# Extending first object with another

Task 6 : Add elements of set n in m

In [31]:
m={10,20,30,40,50}
n={30,40,50,60,70}
m.update(n)
print(sorted(m))

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
# Here duplicate items are deleted as duplicate items are not allowed in set

# Iterations over Data Structures

Task 7 : Using loops, create a program to print only even values from port 1 Data Structure

In [52]:
port1={'FTP':1,'SSH':2,'telnet':3,'http':4}

for k,v in port1.items():
    if v%2==0:
        print(v)

2
4

In [ ]:
Task 8 : Create Python program to create a dictionary where keys are numbers between 1 and 15 and the values are squares
of keys. Add new key {100 : 10000} to this dictionary

In [50]:
dictionary={}

for i in range(1,16):
    dictionary[i]=i*i
    
print('Original Dictionary : ',dictionary)

dictionary[100]=1000

print('Updated Dictionary : ',dictionary)

Original Dictionary :  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
Updated Dictionary :  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 100: 1000}

Task 9 : Use the dictionary port1 and make a new dictionary where keys become values and values become keys.

In [55]:
port1={'FTP':1,'SSH':2,'telnet':3,'http':4}
port2={}
for k,v in port1.items():
    port2[v]=k
print(port2)

{1: 'FTP', 2: 'SSH', 3: 'telnet', 4: 'http'}

Task 10 : Write a python program to remove duplicate entries of Emp3 and Emp4 without swapping keys & values

In [61]:
Employee={
    'Emp1':{'name':'Sara','Dept':'IT','Designation':'Team Lead'},
    'Emp2':{'name':'Anna','Dept':'IT','Designation':'Senior Software Engineer'},
    'Emp3':{'name':'Andy','Dept':'Biotech','Designation':'Senior Software Engineer'},
    'Emp4':{'name':'Andy','Dept':'Biotech','Designation':'Senior Software Engineer'}
}

Employee2={}

for key,value in Employee.items():
    if value not in Employee2.values():
        Employee2[key]=value
        
print(Employee2)

{'Emp1': {'name': 'Sara', 'Dept': 'IT', 'Designation': 'Team Lead'}, 'Emp2': {'name': 'Anna', 'Dept': 'IT', 'Designation': 'Senior Software Engineer'}, 'Emp3': {'name': 'Andy', 'Dept': 'Biotech', 'Designation': 'Senior Software Engineer'}}