# Manipulating Data Frames (Level 2)

In [49]:
import pandas as pd
import numpy as np

In [50]:
df=pd.read_csv('DS1_C4_S4_Car_Prices_Data_Challenge.csv')

In [51]:
df.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493484 non-null  object
 6   vin           558833 non-null  object
 7   state         558836 non-null  object
 8   condition     547043 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558837 non-null  int64
 14  sellingprice  558837 non-null  int64
 15  saledate      558812 non-null  object
dtypes: float64(2), int64(3), object(11)
memory usage: 68.2+ MB

In [53]:
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,4.5,18255.0,silver,black,avis corporation,35300,33000,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

Task 1 : Find five low-priced cars manufacturers in the year 2014

In [47]:
df[df['year']==2014].sort_values(by='sellingprice',ascending=True).head()['make']   #Top 5 low-priced cars manufacturer

293223        Ford
185680    Chrysler
405960        Ford
174198      Nissan
174145     Hyundai
Name: make, dtype: object

Task 2 : Compare the selling price of BMW cars in 2010 with those in 2015 with condition score greater than 4.5

In [59]:
a=df[(df['make']=='BMW')&(df['condition']>4.5)&(df['year']==2010)]['sellingprice'].mean()
print('Avg selling price in year 2010: ',round(a,2))

b=df[(df['make']=='BMW')&(df['condition']>4.5)&(df['year']==2015)]['sellingprice'].mean()
print('Avg selling price in year 2015: ',round(b,2))

relativeper=((b-a)/a)*100
round(relativeper,2)             #Relative %

Avg selling price in year 2010:  23572.22
Avg selling price in year 2015:  42994.69

82.4

Task 3 : Determine the difference between the average wholesale price (MMR)of cars with black and gray interior colors.

In [24]:
a=df[df['color'].isin(['black','gray'])][['color','mmr']].groupby('color')['mmr'].mean().round(2)

In [30]:
a.values[0]-a.values[1]  #Difference

1556.1400000000012

Task 4 : Total no of each color car sold by the manufacturer from 2013 to 2015

In [10]:
df[df['year'].between(2013,2015)]['color'].value_counts().sort_values(ascending=False)

white        40241
black        35746
gray         29541
silver       26225
red          17316
blue         13808
—            12858
brown         2684
burgundy      2489
green         2096
gold          1750
beige         1691
orange         585
purple         397
off-white      376
yellow         262
charcoal       187
turquoise       35
pink            29
lime             8
Name: color, dtype: int64

Task 5 : Find the total sale of cars with SUVbodies on 'Fri Dec 19.2014, 090000 GMT-0800 and on Thu Jan 15, 2015 04:3000 GMF 0800 (PST).Find the percentage increase or decrease in the sale of cars with SUV bodies duringthis period

In [33]:
x=df[(df['body']=='SUV')&(df['saledate'].isin(['Fri Dec 19 2014 09:00:00 GMT-0800 (PST)','Thu Jan 15 2015 04:30:00 GMT-0800 (PST)']))]
y=x['saledate'].value_counts()
y

Fri Dec 19 2014 09:00:00 GMT-0800 (PST)    569
Thu Jan 15 2015 04:30:00 GMT-0800 (PST)    310
Name: saledate, dtype: int64

In [38]:
(y.values[1]-y.values[0])/y.values[0]*100  

#45% decrease in selling price wrt 2014

-45.518453427065026

Task 6 : The car manufacturers Ford and Chevrolet want to offer a 10% discount on car prices, while all other car manufacturers want to give a 20% discount during an upcoming sales event. Add a new colum 'Discounted Price next to the 'Selling Price column in the dataset and calculate and insert the appropriate values in the colum.

In [60]:
col=list(df.columns)
ind=col.index('sellingprice')
df.insert(ind+1,column='Discountedprice',value=0)
df.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'Discountedprice', 'saledate'],
      dtype='object')

In [15]:
df.loc[(df['make']=='Ford') | (df['make']=='Chevrolet'),'Discountedprice']=0.9*df['sellingprice']

In [16]:
df.loc[(df['make']!='Ford') | (df['make']!='Chevrolet'),'Discountedprice']=0.8*df['sellingprice']

Task 7 : Remove saledate and vin columns from main dataset. Then replace missing values.

In [71]:
df=df.drop(['vin','saledate'],axis=1)
df.isnull().sum()

KeyError: "['vin', 'saledate'] not found in axis"

In [70]:
df=df.fillna(method='ffill')
df.isnull().sum()

year               0
make               0
model              0
trim               0
body               0
transmission       0
state              0
condition          0
odometer           0
color              0
interior           0
seller             0
mmr                0
sellingprice       0
Discountedprice    0
dtype: int64

year               0
make               0
model              0
trim               0
body               0
transmission       0
state              0
condition          0
odometer           0
color              0
interior           0
seller             0
mmr                0
sellingprice       0
Discountedprice    0
dtype: int64