# Creating Data Frames Using Series

In [1]:
import pandas as pd
import numpy as np

Task 1 : Generate student IDs for 40 students.Assign Student IDs as index values from 1001 to 1040

In [2]:
id=np.arange(1001,1041,1)
x=pd.Series(np.arange(1,41,1),index=id)
x

1001     1
1002     2
1003     3
1004     4
1005     5
1006     6
1007     7
1008     8
1009     9
1010    10
1011    11
1012    12
1013    13
1014    14
1015    15
1016    16
1017    17
1018    18
1019    19
1020    20
1021    21
1022    22
1023    23
1024    24
1025    25
1026    26
1027    27
1028    28
1029    29
1030    30
1031    31
1032    32
1033    33
1034    34
1035    35
1036    36
1037    37
1038    38
1039    39
1040    40
dtype: int32

Task 2 : Store and display Mathematics Marks' obtained in level 1 test between 50 and 95

In [3]:
math1=pd.Series(np.random.randint(50,96,40),index=id)
math1

1001    64
1002    95
1003    61
1004    53
1005    50
1006    88
1007    88
1008    53
1009    93
1010    76
1011    56
1012    62
1013    60
1014    82
1015    87
1016    93
1017    81
1018    82
1019    56
1020    60
1021    65
1022    76
1023    68
1024    50
1025    94
1026    80
1027    80
1028    85
1029    76
1030    69
1031    68
1032    79
1033    52
1034    53
1035    59
1036    85
1037    58
1038    92
1039    85
1040    95
dtype: int32

Task 3: Store and display Physics Marks' obtained in level 1 test between 40 and 95

In [4]:
physics1=pd.Series(np.random.randint(40,96,40),index=id)
physics1

1001    86
1002    79
1003    63
1004    84
1005    66
1006    95
1007    46
1008    53
1009    43
1010    46
1011    86
1012    76
1013    87
1014    72
1015    43
1016    54
1017    70
1018    77
1019    84
1020    74
1021    89
1022    45
1023    76
1024    71
1025    41
1026    60
1027    60
1028    53
1029    95
1030    79
1031    65
1032    80
1033    93
1034    84
1035    84
1036    72
1037    64
1038    88
1039    45
1040    93
dtype: int32

Task 4 : Find students who are eligible to move to the level 2.Cut-off mark is 150 out of total marks.

In [5]:
l1=pd.Series(physics1+math1,id)
l1=l1[l1>150]
print('Elligible Students for Level 2')
l1

Elligible Students for Level 2

1002    174
1006    183
1014    154
1017    151
1018    159
1021    154
1029    171
1032    159
1036    157
1038    180
1040    188
dtype: int32

Task 5 : Generate random numbers for maths score(range 50-100) and physics(30-100) obtained by students in level 2 test.Add these along with the score of level 1

In [6]:
math2=pd.Series(np.random.randint(50,101,l1.size),index=l1.index)
physics2=pd.Series(np.random.randint(30,101,l1.size),index=l1.index)
print(math2)
print(physics2)

1002    83
1006    57
1014    83
1017    89
1018    76
1021    80
1029    88
1032    62
1036    71
1038    77
1040    73
dtype: int32
1002    37
1006    93
1014    86
1017    32
1018    99
1021    38
1029    99
1032    51
1036    72
1038    31
1040    45
dtype: int32

In [7]:
l2=math2+physics2+l1
l2

1002    294
1006    333
1014    323
1017    272
1018    334
1021    272
1029    358
1032    272
1036    300
1038    288
1040    306
dtype: int32

Task 6 :  Find students who are eligible to move to the screening test

In [8]:
l2=l2[l2>300]
l2  #Elligile Students to move to screening test

1006    333
1014    323
1018    334
1029    358
1040    306
dtype: int32

Task 7:Generate random numbers for maths score(range 50-100) and physics(50-100) obtained by students in screening test.
    Evaluate only 40% of the total score after level-2 test and add to 60% of screening test

In [9]:
math3=pd.Series(np.random.randint(50,101,l2.size),index=l2.index)
physics3=pd.Series(np.random.randint(50,101,l2.size),index=l2.index)
print(math3)
print(physics3)

1006    77
1014    62
1018    65
1029    99
1040    67
dtype: int32
1006    63
1014    96
1018    85
1029    65
1040    66
dtype: int32

In [10]:
l3=math3+physics3
l3

1006    140
1014    158
1018    150
1029    164
1040    133
dtype: int32

In [11]:
l3.update(((l3/200)*60)+((l2/400)*40))
l3

1006    75.3
1014    79.7
1018    78.4
1029    85.0
1040    70.5
dtype: float64

Task 8 : Find the students eligible to attempt the Math Olympiad Event. The cutoff marks is 75%

In [12]:
l3[l3>75]         #Eligile students for olympiad event

1006    75.3
1014    79.7
1018    78.4
1029    85.0
dtype: float64

Task 9: Store final data of elible students into a dataframe object. Determine highest and lowest scores.

In [13]:
final_data=pd.DataFrame(l3[l3>75],columns=['Percentage'])
final_data

      Percentage
1006        75.3
1014        79.7
1018        78.4
1029        85.0

In [14]:
print('Lowest score among the eligible students : ',final_data.min())
print('Highest score among the eligible students : ',final_data.max())

Lowest score among the eligible students :  Percentage    75.3
dtype: float64
Highest score among the eligible students :  Percentage    85.0
dtype: float64