# Creating and Manipulating NumPy Arrays

In [ ]:
import numpy as np

Task 1: Allocate employee codes to employees as below:
1 to 500-employess of HR department,
501 to 1000-employess of Finance department,
1001 to 1501-employess of IT department,
1501 to 2000-employess of Sales department

In [42]:
#creating array

HR=np.arange(1,501,1,int) 
Finance=np.arange(501,1001,1,int)
IT=np.arange(1001,1501,1,int)
Sales=np.arange(1501,2001,1,int)

Task 2: Generate the salary for all employees of each departmet

In [43]:
#creating array

HR_salary=np.random.randint(25000,50001,500,int)
Finance_salary=HR_salary*1.25
Sales_salary=Finance_salary/2
IT_salary=HR_salary+5000

Task 3: Departmentwise total cost to the company

In [50]:
#sum of elements of an array

a=np.sum(HR_salary)
b=np.sum(Finance_salary)
c=np.sum(Sales_salary)
d=np.sum(IT_salary)
print('Total Expense of HR Department : ',a)
print('Total Expense of Finance Department : ',b)
print('Total Expense of Sales Department : ',c)
print('Total Expense of IT Department : ',d)
max(a,b,c,d)

Total Expense of HR Department :  18452950
Total Expense of Finance Department :  23066187.5
Total Expense of Sales Department :  11533093.75
Total Expense of IT Department :  22934275

23066187.5

In [ ]:
# Finance costs most to the company

Task 4: Top 10 highest salaries in the HR and Finance Department

In [36]:
#Sorting

print('Top 10 Highest Salaries in HR Department : ',np.sort(HR_salary)[::-1][0:10])
print('Top 10 Highest Salaries in Finance Department : ',np.sort(Finance_salary)[::-1][0:10].astype('int64'))

Top 10 Highest Salaries in HR Department :  [49910 49905 49836 49824 49729 49718 49695 49636 49628 49604]
Top 10 Highest Salaries in Finance Department :  [62387 62381 62295 62280 62161 62147 62118 62045 62035 62005]

Task 5: Count of employees in Sales & IT whose annual salary is more than $45000

In [51]:
#Sorting and size of an array

print('{} number of employees in Sales Department having salary > $45000'.format(np.size(Sales_salary[Sales_salary>45000])))
print('{} number of employees in IT Department having salary > $45000'.format(np.size(IT_salary[IT_salary>45000])))

0 number of employees in Sales Department having salary > $45000
190 number of employees in IT Department having salary > $45000

Task 6: Update salaries of sales & IT department. Increase salaries of employees whose salary greater than $45000 by 10%

In [47]:
ind_s=Sales_salary>45000               #index value of array
Sales_salary[ind_s]=1.1*Sales_salary[ind_s]   #updating salaries in original arrays

ind_i=IT_salary>45000                  #index value of array
IT_salary[ind_i]=1.1*IT_salary[ind_i]  #updating salaries in original arrays

# PRACTICE 2

In [2]:
import numpy as np

Task 1: Total count of students whose GRE score is greater than 320

In [26]:
#converting csv file to an array
data=np.genfromtxt('DS1_C4_S1_AdmissionPredict_Data_Practice.csv',delimiter=',',skip_header=1) 
#accessing GRE score column
gre_score=data[:,1]
#Filtering based on condition and storing in matrix a
a=np.where(gre_score>320)
print('Number of students with gre_score greater than 320 : ',np.size(a))

Number of students with gre_score greater than 320 :  163

Task 2: Admission possibility of students with TOEFEL score greater than 100

In [48]:
#accessing TOEFEL score column of an array
toefl_score=data[:,2]
#Filtering based on condition and storing in matrix b
b=np.where(toefl_score>110)
print('Number of students with TOEFEL score greater than 320 : ',np.size(b))
#accessing Addition Possibility column of an array
data[toefl_score>110,[8]]

Number of students with TOEFEL score greater than 320 :  120

array([0.92, 0.9 , 0.84, 0.78, 0.7 , 0.94, 0.95, 0.97, 0.94, 0.91, 0.9 ,
       0.94, 0.87, 0.91, 0.86, 0.89, 0.78, 0.78, 0.72, 0.52, 0.55, 0.61,
       0.78, 0.94, 0.96, 0.93, 0.72, 0.74, 0.96, 0.92, 0.94, 0.86, 0.9 ,
       0.79, 0.74, 0.87, 0.91, 0.93, 0.94, 0.94, 0.85, 0.78, 0.84, 0.92,
       0.96, 0.79, 0.89, 0.8 , 0.9 , 0.92, 0.97, 0.8 , 0.81, 0.83, 0.96,
       0.93, 0.94, 0.86, 0.81, 0.89, 0.89, 0.87, 0.85, 0.9 , 0.89, 0.93,
       0.93, 0.88, 0.9 , 0.86, 0.94, 0.97, 0.97, 0.95, 0.96, 0.94, 0.93,
       0.91, 0.76, 0.71, 0.82, 0.91, 0.88, 0.85, 0.86, 0.7 , 0.76, 0.77,
       0.93, 0.85, 0.9 , 0.7 , 0.83, 0.89, 0.8 , 0.94, 0.93, 0.92, 0.89,
       0.86, 0.9 , 0.71, 0.8 , 0.79, 0.8 , 0.81, 0.8 , 0.8 , 0.83, 0.94,
       0.93, 0.91, 0.86, 0.95, 0.96, 0.96, 0.84, 0.89, 0.91, 0.95])

Task 3: Display serial number of all students whose GRE score above 315, TOEFL score above 115 and having some research experience

In [49]:
#accessing GRE score column
gre_score=data[:,1]
#accessing TOEFEL score column of an array
tofel_score=data[:,2]
#accessing research column of an array
research=data[:,7]
#Filtering elements of an array
gt=data[np.where((gre_score>315)&(toefl_score>115)&(research>0))]
#printing serial number
gt[:,0]

array([  1.,  23.,  24.,  25.,  26.,  33.,  53.,  71.,  82.,  98.,  99.,
       108., 109., 121., 122., 130., 139., 142., 144., 149., 152., 172.,
       177., 188., 194., 203., 204., 213., 214., 215., 216., 260., 286.,
       287., 326., 338., 362., 373., 386., 398., 400.])