# TASK 1 : CREATING VARIABLES

In [5]:
rollno=10
print('rollno = ',rollno,'\n','id = ',id(rollno),'\n','type = ',type(rollno))

rollno =  10
 id =  2495408335440
 type =  <class 'int'>

In [6]:
firstname='John'
print('rollno = ',firstname,'\n','id = ',id(firstname),'\n','type = ',type(firstname))

rollno =  John
 id =  2495491884528
 type =  <class 'str'>

In [7]:
lastname='Doe'
print('rollno = ',lastname,'id = ',id(lastname),'type = ',type(lastname))

rollno =  Doe id =  2495491699760 type =  <class 'str'>

In [8]:
maxmarks=50
print('rollno = ',maxmarks,'\n','id = ',id(maxmarks),'\n','type = ',type(maxmarks))

rollno =  50
 id =  2495408336720
 type =  <class 'int'>

# TASK 2 : Naming a Variable

In [9]:
var1=2 
print(var1)

2

variable can contain alphanumeric characters

In [10]:
2var=2

SyntaxError: invalid syntax (2961105188.py, line 1)

variable cannot start with number

In [19]:
var 1=2

SyntaxError: invalid syntax (3892724015.py, line 1)

space is not allowed in variable

In [21]:
var$2=2

SyntaxError: invalid syntax (661466017.py, line 1)

special characters cannot be use in variable

# TASK 3 : Assigning Values to a Variable

In [11]:
Class=15

In [12]:
class=14

SyntaxError: invalid syntax (1944381924.py, line 1)

class is keyword. Variable cannot be keyword

In [13]:
DEF=13

In [14]:
def=13

SyntaxError: invalid syntax (2652376896.py, line 1)

def is keyword. Variable cannot be keyword

In [15]:
a=TRUE

NameError: name 'TRUE' is not defined

String should be enclosed in colon like a='TRUE'

In [16]:
b=false

NameError: name 'false' is not defined

String should be enclosed in colon like a='TRUE' and python is case sensitive language

# TASK 4 :  Using id()

In [17]:
marks=float(40)
print('marks=',marks,'\n','id of marks=',id(marks),'\n','type of marks=',type(marks))

marks= 40.0
 id of marks= 2495491597680
 type of marks= <class 'float'>

In [18]:
marks=float(30)
print('marks=',marks,'\n','id of marks=',id(marks),'\n','type of marks=',type(marks))

marks= 30.0
 id of marks= 2495491597456
 type of marks= <class 'float'>

ID is of marks is changed as if the value in the same variable is changed server will allocate different memory for that variable

# TASK 5 : Formatting the output

In [19]:
print(int((marks/maxmarks)*100),'%')

60 %

In [36]:
fullname=firstname+' '+lastname
print(fullname)

John Doe

In [23]:
print(fullname,'scored',(marks/maxmarks)*100,'%')

John Doe scored 60.0 %

# TASK 6 : Creating data structures

In [24]:
y={'rollno':rollno}
print(y)

{'rollno': 10}

In [25]:
z=[rollno,fullname,marks]
print(z)

[10, 'John Doe', 30.0]

# TASK 7 : Arithmetic operation

In [26]:
1+"2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

string and variable cannot be added

In [27]:
"1"+"2"

'12'

In case of string +  operator works as concate

In [28]:
1/2

0.5

In [29]:
1//2

0

Remainder operator is use to print Quotient

# TASK 8 : Logical Operations

In [30]:
True and True

True

And operator returns True if both right-hand & left-hand sides of operator are true

In [31]:
True and False

False

and operator returns True only if both right-hand & left-hand sides of operator are true else returns False

In [32]:
False or True

True

or operator returns True if any side either right-hand or left-side of the operator are true

In [33]:
False or False

False

or operator returns True if any side either right-hand or left-side of the operator are true else returns False

# TASK 9  : Identity and Membership operations

In [ ]:
firstname in fullname

in operator returns true if specified operand (firstname) found in the sequence (fullname)

In [ ]:
firstname is fullname

Returned false as firstname and lastname do not point to the same object or memory location

# TASK 10 : Associativity

In [ ]:
a=4
b=3
c=2
d=a**b+c
e=a**(b+c)
print("d=",d,"e=",e)

As per operator precedence parantheses operator execute first then exponent operator. Thus output of e and d are different

# TASK 11 : Creating a basic program

In [37]:
r=6
A=3.14*r**2
print('Area of circle is=',A)

Area of circle is= 113.04

In [38]:
sellingprice=85
tax=int(18)
p=sellingprice*tax*0.01
q=p+sellingprice
print("Amount to be paid as tax=",p,"\n","Final Price=",q)

Amount to be paid as tax= 15.3
 Final Price= 100.3

In [39]:
dollar1=75
rs=3333
print(rs/dollar1)

44.44

In [35]:
inflationrate=0.07
laterCPI=500
earlierCPI=laterCPI/(inflationrate+1)
print('Purchasing power of $500 last year is',earlierCPI)

Purchasing power of $500 last year is 467.2897196261682